*{
  margin: 0;
  padding: 0;
}

html{
  background-color: #261798;
  max-width: 100vw;
  width: 96%;
}

body{
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0em;
  margin: auto;
}

/* menu */    
.navbar {
  width: 100%;
  height: 4rem;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  z-index: 1;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #80D10A;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #80D10A;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  background: white;
  height: 81.5vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li.menu-iten {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

/* introdução */  

.introducao{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: right;
  text-align: right;
  width: 65%;
  margin-left: 30%;
  margin-top: 10%;
}

.introducao p{
  font-size: 32px;
  font-weight: 600;
  color: white;
  text-align: right;
  font-weight: 600;
  font-size: 2.2rem;
}

.introducao span{
  background: white;
  color: #80D10A;
}

p > a:link {
  color: #80D10A;
  text-decoration: none;
}

/* visited link */
p > a:visited {
  color: #80D10A;
}

/* mouse over link */
p > a:hover {
  color: #588d09;
}